@model List<PlanoSaude>

<h3 class="espacamento-baixo">Gerencimento de Plano de Saúde</h3>

<a asp-action="Cadastrar" asp-controller="PlanoSaude"
   class="btn btn-primary espacamento-baixo">Plano de Saúde</a>

<table class="table table-hover table-striped espacamento-baixo">
    <thead>
        <tr>
            <th>#</th>
            <th>Plano</th>
            <th>Código</th>
            <th>Criado em</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PlanoSaude planoCadastrado in Model)
        {
            <tr>
                <td>@planoCadastrado.Id</td>
                <td>@planoCadastrado.Plano</td>
                <td>@planoCadastrado.Codigo</td>
               <td>@planoCadastrado.CriadoEm</td>

                <td>
                    <a asp-action="Remover"
                       asp-controller="Paciente"
                       asp-route-id="@planoCadastrado.Id"
                       class="btn btn-danger">Remover</a>
                </td>
                <td>
                    <a asp-action="Alterar"
                       asp-controller="Paciente"
                       asp-route-id="@planoCadastrado.Id"
                       class="btn btn-warning">Alterar</a>
                </td>
            </tr>
}
    </tbody>
</table>

<p><b>Quantidade de Plano(s): </b> @Model.Count </p>
<p><b>Dados atualizados: </b> @DateTime.Now </p>